############################
# ROS2 / colcon workspace
############################

# build outputs
build/
install/
log/

# colcon/ament
.colcon*
.ament*
CTestTestfile.cmake
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

############################
# Python 관련
############################

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pdb
*.egg-info/
.eggs/
.python-version

############################
# IDE / OS-specific
############################

# VSCode
.vscode/

# Mac / Windows
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# 기타
*.swp
*.swo
*.log
*.tmp
*.bak